html
  head
    title AITU Blog
    
    include ../../common/template/head/_base.jade
    include ../../common/template/head/_webfonts.jade

  include ../../common/header_bars/_blog.jade
  
  body
    section.page
      section.blog-4
        .container
          .row
            .col-sm-8   
              h1 
                a(href="/blog/archive.html") Archive for #{monthName} #{year}
              
              each entry in entries
                .article
                  h3
                    a(href=entry.permalink)=entry.title
                  .submitted
                    .fui-user= entry.author               
                    .fui-time= entry.post_at                    
                  img(src= entry.image, onerror="this.style.display='none'", alt='Blog Image')
                  !=entry.abstract
                  p
                    a(href=entry.permalink) Read More...

            include ../../blog/_common/_blog_links.jade 

      include ../../common/_footer.jade
  
      script(src='/_js/jquery-1.10.2.min.js')
      script(src='/_js/jquery.bxslider.min.js')
      script(src='/_js/jquery.scrollTo-1.4.3.1-min.js')
      script(src='/_js/jquery.sharrre.min.js')
      script(src='/_js/bootstrap.min.js')
      script(src='/_js/masonry.pkgd.min.js')
      script(src='/_js/modernizr.custom.js')
      script(src='/_js/page-transitions.js')
      script(src='/_js/easing.min.js')
      script(src='/_js/jquery.svg.js')
      script(src='/_js/jquery.svganim.js')
      script(src='/_js/jquery.backgroundvideo.min.js')
      script(src='/_js/froogaloop.min.js')
      script(src='/_js/startup-kit.js')