h1 Blog

p
  a(href="/blog/archive.html") Archive Index

each entry in entries
  article
    h1
      a(href=entry.permalink)=entry.title
    p= entry.post_at
    p= entry.author
    !=entry.body


section.pagination
  if total_pages > 1
    - var n = 0
    ul
      li 
        a(href="index.html") First
      while n < total_pages
        - n++
        if n == 1
          li
            a(href="index.html")= n
        else
          li
            a(href="page_#{n}.html")= n
      li 
        a(href="page_#{total_pages}.html") Last