html
  head
    title AITU Blog
    
    include ../../common/template/head/_base.jade
    include ../../common/template/head/_webfonts.jade



  body
    section.page
      include ../../common/header_bars/_blog_home.jade
      section.blog-4
        .container
          .row
            .col-sm-8
              h1 Blog       
                                
              each entry in entries
                .article
                  h3
                    a(href=entry.permalink)=entry.title
                  .submitted
                    .fui-user= entry.author               
                    .fui-time= entry.post_at                    
                  img(src= entry.image, onerror="this.style.display='none'", alt='Blog Image')
                  !=entry.abstract
                  p
                    a(href=entry.permalink) [Continue Reading...]
                  
            include ../../blog/_common/_blog_links
             
            .row
              .blog-pagination                          
                section.pagination
                  if total_pages > 1
                    - var n = 0
                    ul
                      li 
                         a(href="index.html") First
                      while n < total_pages
                        - n++
                        if n == 1
                          li
                            a(href="index.html")= n
                        else
                          li
                            a(href="page_#{n}.html")= n
                      li 
                        a(href="page_#{total_pages}.html") Last
                  
    
      include ../../common/_footer.jade
                                
      script(src='/_js/jquery-1.10.2.min.js')
      script(src='/_js/jquery.bxslider.min.js')
      script(src='/_js/jquery.scrollTo-1.4.3.1-min.js')
      script(src='/_js/jquery.sharrre.min.js')
      script(src='/_js/bootstrap.min.js')
      script(src='/_js/masonry.pkgd.min.js')
      script(src='/_js/modernizr.custom.js')
      script(src='/_js/page-transitions.js')
      script(src='/_js/easing.min.js')
      script(src='/_js/jquery.svg.js')
      script(src='/_js/jquery.svganim.js')
      script(src='/_js/jquery.backgroundvideo.min.js')
      script(src='/_js/froogaloop.min.js')
      script(src='/_js/startup-kit.js')